
.flex-container{ 
    display: flex;
    flex-wrap: nowrap;

}

.left-side-spread{ 
    width: 50%;
}

.right-side-spread{ 
    width: 50%;
}

.upper-left-text{
    display: flex;
    width: 50%;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    font-weight: bold;
}



.upper-left-text3{
    display: flex;
    width: 45%;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    position: absolute;
    top: 67px;
    font-weight: bold;
    
}



  .grid-container{
    display: grid;
    width: 40%;
    grid-template-columns: .5fr 2fr 1fr .75fr .5fr .5fr 1fr .75fr 1fr 3fr 1.5fr 2fr 1fr .6fr .3fr 2fr .5fr  ;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    

  /* grid-template-columns: repeat(17, 50px);
  grid-template-rows: repeat(17, 50px); */
}

.grid-container2{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 3fr .5fr 2fr .5fr .75fr 1.5fr 1fr .5fr 1fr .75fr 1fr 1fr 3fr .8fr 1fr 2fr  ;
    grid-template-rows: 25px 20px 30px 15px 35px 50px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;

  /* grid-template-columns: repeat(17, 50px);
  grid-template-rows: repeat(17, 50px); */
}


.empty{
    background-color: white;
    /* border: 1px solid;  */
}

.b{
    background-color: #0294c2;
    /* border: 2px solid;  */
}


.flex-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: Arial, Helvetica;
   
    color: red;
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 2;
    /* opacity: 0%; */
    
  }

  .letter{
    width: 10%;
    height: 100px;
    border: 1px solid;
    border-color: rgba(0,0,0,0);
    
  }

  .large{
    font-size: 80px;

  }

  .med{
    font-size: 65px;
  }

  .small{
    font-size: 50px;
  }

  .xsmall{
    font-size: 40px;
  }

  .zigzag-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(80, 20px);
   
}

.block{
    background-color: red;
    /* border: 1px solid; */
}

.item-1{ 
    grid-column-start: 1;
    grid-column-end: 23;
    
}

.item-2{ 
    grid-column-start: 22;
    grid-column-end: 23;
    background-color: red;
}

.item-3{ 
    grid-column-start: 22;
    grid-column-end: 23;
    background-color: white;
}

.item-4{ 
    grid-column-start: 1;
    grid-column-end: 25;
    background-color: white;
}

.item-5{ 
    grid-column-start: 10;
    grid-column-end: 27;
}

.item-6{ 
    grid-column-start: 25;
    grid-column-end: 25;
}

.item-7{ 
    grid-column-start: 1;
    grid-column-end: 26;
}

.square-1{
    grid-column-start: 1;
    grid-column-end: 2;

}

.square-2{
    grid-column-start: 1;
    grid-column-end: 6;

}

.square-3{
    grid-column-start: 10;
    grid-column-end: 11;

}

.square-4{
    grid-column-start: 5;
    grid-column-end: 6;

}

.square-5{
    grid-column-start: 1;
    grid-column-end: 11;

}

.square-6{
    grid-column-start: 12;
    grid-column-end: 22;

}

.square-7{
    grid-column-start: 12;
    grid-column-end: 13;

}

.square-8{
    grid-column-start: 1;
    grid-column-end: 13;

}

.square-9{
    grid-column-start: 21;
    grid-column-end: 22;

}

.square-10{
    grid-column-start: 14;
    grid-column-end: 22;

}

.square-11{
    grid-column-start: 14;
    grid-column-end: 15;

}

.square-12{
    grid-column-start: 1;
    grid-column-end: 15;

}

.square-13{
    grid-column-start: 16;
    grid-column-end: 26;

}

.square-14{
    grid-column-start: 16;
    grid-column-end: 17;

}

.square-15{
    grid-column-start: 10;
    grid-column-end: 17;

}

.square-16{
    grid-column-start: 21;
    grid-column-end: 26;

}

.square-17{
    grid-column-start: 14;
    grid-column-end: 22;

}

.square-18{
    grid-column-start: 10;
    grid-column-end: 11;

}

.square-19{
    grid-column-start: 1;
    grid-column-end: 11;

}

.square-20{
    grid-column-start: 14;
    grid-column-end: 15;

}

.square-21{
    grid-column-start: 1;
    grid-column-end: 15;

}

.square-22{
    grid-column-start: 1;
    grid-column-end: 10;

}

.square-23{
    grid-column-start: 9;
    grid-column-end: 23;

}

.square-24{
    grid-column-start: 22;
    grid-column-end: 23;

}

.square-25{
    grid-column-start: 1;
    grid-column-end: 23;

}

.square-26{
    grid-column-start: 1;
    grid-column-end: 25;

}

.square-27{
    grid-column-start: 24;
    grid-column-end: 25;

}

.square-28{
    grid-column-start: 20;
    grid-column-end: 25;

}

.square-29{
    grid-column-start: 20;
    grid-column-end: 21;

}

.square-30{
    grid-column-start: 24;
    grid-column-end: 25;

}

.square-31{
    grid-column-start: 1;
    grid-column-end: 21;

}

.square-32{
    grid-column-start: 1;
    grid-column-end: 16;

}

.square-33{
    grid-column-start: 15;
    grid-column-end: 16;

}

.square-34{
    grid-column-start: 15;
    grid-column-end: 25;

}

.square-35{
    grid-column-start: 1;
    grid-column-end: 23;

}

.square-36{
    grid-column-start: 22;
    grid-column-end: 23;

}









