.flex-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 20%;
  }
  .box {
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px;
    border-style: solid;

  }

  .blank {
    background-color: white;
  }


  .grid-container{
    display: grid;
    width: 40%;
    grid-template-columns: .5fr 2fr 1fr .75fr .5fr .5fr 1fr;
    grid-template-rows: 50px 10px 30px 80px 44px 20px 10px 90px 15px 25px 45px 10px 15px 30px 50px 20px 13px;

}


.empty{
    background-color: white;
}

.b{
    background-color: #0294c2;
}


.flex-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: Arial, Helvetica;
    position: absolute;
    left: 5%;
    top: 40%;
    z-index: 2;
    
  }

  .letter{
    width: 10%;
    height: 100px;
    border: 1px;
    border-style: solid;
    
  }

  .large{
    font-size: 80px;

  }

  .med{
    font-size: 65px;
  }

  .small{
    font-size: 50px;
  }

  .xsmall{
    font-size: 40px;
  }


  