
body{ 
    background-color: white;
}

.flex-container{ 
    display: flex;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    margin: 40px;

}


.left-side-spread{ 
    width: 50%;
    box-shadow: 3px 0px 30px -2px #888;
    /* z-index: 1; */
    overflow: hidden;
    
}


.right-side-spread{ 
    width: 50%;
    box-shadow: -3px 0px 30px -2px #888;
}





.upper-left-text{
    display: flex;
    width: 50%;
    padding-left: 10%;
    padding-top: 25px;
    color: rgb(224, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    font-weight: bold;
    opacity: 85%;
}



.upper-left-text3{
    display: flex;
    width: 20%;
    color: rgb(224, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    font-weight: bold;
    opacity: 85%;
    padding-left: 15%;
}

.keep2{ 
    padding-left: 100px;
}

.scrubbing2{ 
    padding-left: 520px;
}



  .grid-container{
    display: grid;
    width: 60%;
    padding-left: 10%;
    grid-template-columns: .5fr 2fr 1fr .75fr .5fr .5fr 1fr .75fr 1fr 3fr 1.5fr 2fr 1fr .6fr .3fr 2fr .5fr  ;
    grid-template-rows: 10px 6px 13px 8px 9px 12px 17px 8px 12px 15px 15px 10px 17px 7px 10px 14px 12px;
    

  /* grid-template-columns: repeat(17, 50px);
  grid-template-rows: repeat(17, 50px); */
}

.grid-container2{
    display: grid;
    width: 90%;
    padding-left: 45%;
    grid-template-columns: 1fr 3fr .5fr 2fr .5fr .75fr 1.5fr 1fr .5fr 1fr .75fr 1fr 1fr 3fr .8fr 1fr 2fr  ;
    grid-template-rows: 25px 20px 30px 15px 35px 50px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
}

.grid-container3{
    display: grid;
    width: 40%;
    grid-template-columns: .5fr .3fr .5fr .2fr .7fr .75fr 1.5fr 1fr .5fr 1fr .75fr .51fr .15fr .3fr .8fr 1fr .25fr  ;
    grid-template-rows: 10px 15px 8px 10px 13px 20px 8px 17px 19px 14px 12px 15px 10px 15px 20px 10px 7px;

}

.grid-container4{
    display: grid;
    width: 70%;
    padding-left: 80%;
    grid-template-columns: 10px 15px 8px 10px 13px 20px 8px 17px 19px 14px 12px 15px 10px 15px 20px 10px 7px;
    grid-template-rows: 10px 15px 8px 10px 13px 20px 8px 17px 19px 14px 12px 15px 10px 15px 20px 10px 7px;

}



.empty{
    background-color: whitesmoke;
    /* border: 1px solid;  */
}

.b{
    background-color: #0294c2;
    /* border: 2px solid;  */
}


.flex-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    font-family: Arial, Helvetica;
    color: rgb(224, 2, 2);
    position: absolute;
    left: 6%;
    top: 20%;
    z-index: 2;
    opacity: 85%;
    
    
  }

  .letter{
    width: 10%;
    height: 90px;
    border: 1px solid;
    border-color: rgba(0,0,0,0);
    
  }

  .large{
    font-size: 80px;

  }

  .med{
    font-size: 65px;
  }

  .small{
    font-size: 50px;
  }

  .xsmall{
    font-size: 40px;
  }

  .zigzag-container{
    display: grid;
    width: 100%;
    padding: 2px;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(70, 20px);
   
}

.block{
    background-color: red;
    /* border: 1px solid; */
}

.item-1{ 
    grid-column-start: 1;
    grid-column-end: 23;
    
}

.item-2{ 
    grid-column-start: 22;
    grid-column-end: 23;
    background-color: red;
}

.item-3{ 
    grid-column-start: 22;
    grid-column-end: 23;
    background-color: whitesmoke;
}

.item-4{ 
    grid-column-start: 4;
    grid-column-end: 25;
    background-color: whitesmoke;
}

.item-5{ 
    grid-column-start: 10;
    grid-column-end: 27;
}

.item-6{ 
    grid-column-start: 25;
    grid-column-end: 25;
}

.item-7{ 
    grid-column-start: 1;
    grid-column-end: 26;
}

.square-1{
    grid-column-start: 1;
    grid-column-end: 2;

}

.square-2{
    grid-column-start: 1;
    grid-column-end: 6;

}

.square-3{
    grid-column-start: 10;
    grid-column-end: 11;

}

.square-4{
    grid-column-start: 5;
    grid-column-end: 6;

}

.square-5{
    grid-column-start: 1;
    grid-column-end: 11;

}

.square-6{
    grid-column-start: 12;
    grid-column-end: 22;

}

.square-7{
    grid-column-start: 12;
    grid-column-end: 13;

}

.square-8{
    grid-column-start: 1;
    grid-column-end: 13;

}

.square-9{
    grid-column-start: 21;
    grid-column-end: 22;

}

.square-10{
    grid-column-start: 14;
    grid-column-end: 22;

}

.square-11{
    grid-column-start: 14;
    grid-column-end: 15;

}

.square-12{
    grid-column-start: 1;
    grid-column-end: 15;

}

.square-13{
    grid-column-start: 16;
    grid-column-end: 26;

}

.square-14{
    grid-column-start: 16;
    grid-column-end: 17;

}

.square-15{
    grid-column-start: 10;
    grid-column-end: 17;

}

.square-16{
    grid-column-start: 21;
    grid-column-end: 26;

}

.square-17{
    grid-column-start: 14;
    grid-column-end: 22;

}

.square-18{
    grid-column-start: 10;
    grid-column-end: 11;

}

.square-19{
    grid-column-start: 1;
    grid-column-end: 11;

}

.square-20{
    grid-column-start: 14;
    grid-column-end: 15;

}

.square-21{
    grid-column-start: 1;
    grid-column-end: 15;

}

.square-22{
    grid-column-start: 1;
    grid-column-end: 10;

}

.square-23{
    grid-column-start: 9;
    grid-column-end: 23;

}

.square-24{
    grid-column-start: 22;
    grid-column-end: 23;

}

.square-25{
    grid-column-start: 1;
    grid-column-end: 23;

}

.square-26{
    grid-column-start: 1;
    grid-column-end: 25;

}

.square-27{
    grid-column-start: 24;
    grid-column-end: 25;

}

.square-28{
    grid-column-start: 20;
    grid-column-end: 25;

}

.square-29{
    grid-column-start: 20;
    grid-column-end: 21;

}

.square-30{
    grid-column-start: 24;
    grid-column-end: 25;

}

.square-31{
    grid-column-start: 1;
    grid-column-end: 21;

}

.square-32{
    grid-column-start: 1;
    grid-column-end: 16;

}

.square-33{
    grid-column-start: 15;
    grid-column-end: 16;

}

.square-34{
    grid-column-start: 15;
    grid-column-end: 25;

}

.square-35{
    grid-column-start: 1;
    grid-column-end: 23;

}

.square-36{
    grid-column-start: 22;
    grid-column-end: 23;

}

.square-37{
    grid-column-start: 1;
    grid-column-end: 25;

}









